<div class="top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Blog del viajero</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blogs</a>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Login
          </button>
        </form>
      </div>
    </div>
  </nav>
  
</div>
<br>
<div class="main">
  <div class="page-header">
      <h1>Lugares que para descubrir con tu familia</h1><br>
    
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div *ngFor="let blog of blogs">
          <img class="blog-image-top" alt="image" src="./assets/images/{{blog.image}}"><h3>{{ blog.title }}</h3><div>{{ blog.date }} - {{ blog.author | titlecase}}</div>
            <p>{{ blog.content }}</p>
            <div class="blog-link-next">[leer mas ...]</div>
            <hr><br>
          
        </div>
      </div>
      <div class="col-sm-3">
        <div class="blog-widget">
          <h4 class="blog-widget-title">Buscas Mas Informacion</h4>
          <ul class="list-group">
            <li class="list-group-item"><a href="more-blog-post.html">Otro blog mas</a></li>
            <li class="list-group-item"><a href="more-blog-post.html">Visit Mexico</a></li>
            <li class="list-group-item"><a href="more-blog-post.html">Ex dolore ut laborum</a></li>
            <li class="list-group-item"><a href="more-blog-post.html">Do sunt nisi dolore velit</a></li>
          </ul>
        </div>
      </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Autentificacion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="bg-white border rounded-5">
    
          <section class="w-100 p-4 d-flex justify-content-center pb-4">
            <form style="width: 22rem;">
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form2Example1" class="form-control">
                <label class="form-label" for="form2Example1" style="margin-left: 0px;">Usuario</label>
              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>
      
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="form2Example2" class="form-control">
                <label class="form-label" for="form2Example2" style="margin-left: 0px;">Password</label>
              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64px;"></div><div class="form-notch-trailing"></div></div></div>
      
              <!-- 2 column grid layout for inline styling -->
              <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                  <!-- Checkbox -->
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked="">
                    <label class="form-check-label" for="form2Example31"> Recordarme </label>
                  </div>
                </div>
      
                <div class="col">
                  <!-- Simple link -->
                  <a href="#!">Olvide mi contrasena</a>
                </div>
              </div>
      
            </form>
          </section>
      
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Entrar</button>
      </div>
    </div>
  </div>
</div>